/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.fas {
    font-size: 80px;
}

.filter {
    text-align: right;
    margin-right: 80px;
}

.filter select {
    width: 200px;
    height: 30px;
}
